<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.demo.dao.dataDao">
    <select id="findUserInfo" resultType="UserInfo">
        select u.userid, u.password, u.gender, u.name
        from userinfo u
        where u.userid = #{userId}
        and u.password = #{userPassword}
    </select>


    <select id="addSubQuestion">
--         INSERT INTO subjective (Subjective_ID, examinee_ID, Subjective_Stem, Subjective_Answer)
--         SELECT MAX(Subjective_ID) + 1,  'null', #{Stem}, #{Answer}
--         FROM subjective
        SELECT MAX(Subjective_ID) + 1 INTO @maxID FROM subjective;
        INSERT INTO subjective (Subjective_ID, examinee_ID, Subjective_Stem, Subjective_Answer)
        VALUES (@maxID + 1, '1', #{Stem}, #{Answer});
    </select>

</mapper>
