<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.demo.dao.UserInfoDao">

    <select id="get_exam" resultType="ExamInfo">
        select *
        from exampaper
    </select>

    <select id="add_exam">
        INSERT INTO exampaper(ExamPaper_ID,ExamDate)
        VALUES (#{ExamId},#{Date});
    </select>

    <select id="delete_exam">
        DELETE FROM exampaper
        WHERE ExamPaper_ID=#{ExamId};
    </select>

    <select id="student_check" resultType="ExameeInfo">
        select * from examinee as e
        where e.ID=#{userId} and e.Password=#{userPassword}
    </select>

    <select id="teacher_check" resultType="ExamerInfo">
        select * from examiner as e
        where e.ID=#{userId} and e.Password=#{userPassword}
    </select>

    <select id="admin_check" resultType="AdminInfo">
        select * from manager as e
        where e.ID=#{userId} and e.Password=#{userPassword}
    </select>

    <select id="student_sign" resultType="ExameeInfo">
        select * from examinee as e
        where e.Email=#{email} or e.Tel=#{tel}
    </select>

    <select id="teacher_sign" resultType="ExamerInfo">
        select * from examiner as e
        where e.Email=#{email} or e.Tel=#{tel}
    </select>

    <select id="admin_sign" resultType="AdminInfo">
        select * from manager as e
        where e.Email=#{email} or e.Tel=#{tel}
    </select>

    <select id="get_id" resultType="int">
        select MAX(ID) from ${role}
    </select>

    <select id="push_sign">
        INSERT INTO ${role}(ID,Name,Email,Tel,Password,Gender)
        VALUES(#{id},#{name},#{email},#{tel},#{password},#{gender})
    </select>
</mapper>


