<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.demo.dao.UserInfoDao">
    <select id="findUserInfo" resultType="UserInfo">
        select u.userid, u.password, u.gender, u.name
        from userinfo u
        where u.userid = #{userId}
        and u.password = #{userPassword}
    </select>

</mapper>
